OneDrive_*.zip
.DS_Store
__pycache__/
*.pyc
/01) كلية الشريعة والأنظمة/
/توصيفات_مقررات_*.pdf
/توصيفات برنامج الدراسات*.pdf
/ماجستير الدراسات*/
/توصيفات أخرى/
/قسم الأنظمة/
/بكالوريس قراءات/
/ماجستير العقيدة والقانون.zip
/تخصصات كلية الشريعة والأنظمة/
/تخصصات كلية الشريعة والأنظمة.zip
/الخطط للبرامج/
/الأختام/
